<h2>Charset for {{ font[0] }}</h2>

<!--
Create a dropdown to select the font that should
be applied to the character grid.
-->
<select class="character-grid-toggle">
{% for font in fonts %}
	<option value="{{ font[0] }}">{{ font[0] }}</option>
{% endfor %}
</select>

{% for font in fonts %}
	<div class="character-grid {{ font[0] }}">
		<!--
		Draw a grid with the characters of the first font.
		-->
		{% for set in font[1].charset %}
			<h3>
				{{ set.category }}
				{% if set.subCategory %}
					{{ set.subCategory }}
				{% endif %}
				{% if set.script %}
					{{ set.script | capitalize }}
				{% endif %}
			</h3>

			<ol class="character-grid-list">
			{% for char in set.chars %}
				<li>&#x{{ char }};</li>
			{% endfor %}
			</ol>
		{% endfor %}
		<div class="character-grid-zoom"></div>
	</div>
	<!--
	Break out of this loop, as the only need the
	first font to fill out character grid with.
	-->
{% break %}
{% endfor %}