<h2>Charset for {{ fontdata[main_id].name }}</h2>

<!--
Create a dropdown to select the font that should
be applied to the character grid.
-->
{% if fontdata.length >= 2 %}
	<select class="character-grid-toggle">
	{% for font in fontdata %}
		<option value="{{ font.selector }}" {% if font.selector == main_selector %}selected{% endif %}>
			{{ font.style }}
		</option>
	{% endfor %}
	</select>
{% endif %}

<!--
Draw a grid with the characters of the main font.
-->
<div class="character-grid {{ main_selector }}">
	{% for set in fonts[main_selector].charset %}
		<!--
		Skip the separators, we're not interested in those.
		-->
		{% if set.category == "Separator" %}
			{% continue %}
		{% endif %}
		<!--
		Create a title based on (sub)category and script.
		-->
		<h3>
			{{ set.category }}
			{% if set.subCategory %}
				{{ set.subCategory }}
			{% endif %}
			{% if set.script %}
				{{ set.script | capitalize }}
			{% endif %}
		</h3>
		<!--
		Print each char in this category
		-->
		<ol class="character-grid-list">
		{% for char in set.chars %}
			<li>&#x{{ char }};</li>
		{% endfor %}
		</ol>
	{% endfor %}
	<div class="character-grid-zoom"></div>
</div>
