@font-face {
	font-family: example-font;
	font-weight: 1 1000;
	src: url("../fonts/example-font-file.woff2");
}

body {
	font-family: example-font, monospace;
}

*,
*::before,
*::after {
	font-variation-settings: "opsz" var(--opsz), "wght" var(--wght),
		"GOOF" var(--GOOF), "WONK" var(--WONK);
}

:root {
	/* Font axes */
	--opsz: 9;
	--wght: 1;
	--GOOF: 1;
	--WONK: 0;
}
