:root {
	--character-grid-cell: 2rem;
	--character-grid-font-zize: 2rem;
	--character-grid-gap: 1rem;
}

.character-grid-list {
	list-style-type: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(var(--character-grid-cell), 1fr)
	);
	column-gap: var(--character-grid-gap);
	row-gap: var(--character-grid-gap);
	font-size: var(--character-grid-font-zize);
}

.character-grid-list > li {
	height: var(--character-grid-cell);
	display: flex;
	justify-content: center;
	align-items: center;
}

.character-grid-zoom {
	font-size: 100px;
}
