@import "./_font-faces.css";
@import "./_animation.css";
@import "./_character-grid.css";
@import "./_interactive-controls.css";

/* Variable font support */
.variable-support {
	display: block;
}

@supports (font-variation-settings: normal) {
	.variable-support {
		display: none;
	}
}

/* Setup */
:root {
	--page-bg: #fff;
	--page-text: #000;

	/* Font axes */
	--opsz: 9;
	--wght: 1;
	--GOOF: 1;
	--WONK: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-variation-settings: "opsz" var(--opsz), "wght" var(--wght),
		"GOOF" var(--GOOF), "WONK" var(--WONK);
}

html,
body {
	padding: 0;
	margin: 0;
	background: var(--page-bg);
	color: var(--page-text);
}

ol,
ul {
	list-style-type: none;
	padding: 0;
}

body {
	font-family: example-font, monospace;
}
