---
layout: default.html
---

<div class="loading-message">
	<span class="loading-message-loading">Loading...</span>
	<span class="loading-message-failed">Failed :-(</span>
</div>

<div class="variable-support-message">
	Your browser doesn't do variable fonts :-(
</div>

<main>
	<!--
	If multiple fonts in a family, pick the first one
	from fontdata.json as the main font.
	-->
	{% assign mainfont = fontdata[0].selector %}

	<ul>
		{% for font in fonts %}
			<li class="{{ font[0] }}">
				Specimen Skeleton knows this font: {{ font[0] }}
			</li>
		{% endfor %}
	</ul>

	<h2>Specimen Skeleton knows these fonts:</h2>
	<ul>
		{% for font in fontdata %}
			<li class="{{ font.selector }}">
				{{ font.name }} --
				{{ font.style }} --
				{{ font.selector }} --
				{{ fonts[font.selector].axes.length }} axes --
				{{ fonts[font.selector].instances.length }} instances
			</li>
		{% endfor %}
	</ul>

	<hr>

	{% include interactive-controls.html %}

	<hr />

	{% include character-grid.html %}

	<hr />

	{% include animation.html %}
</main>
